.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;

}

@media screen and (max-width: 679px) {
  .popup {
    grid-template-columns: 288px;
    gap: 16px;
  }
}
