.popup__button-save {
  margin: 45px 0 36px;
  padding: 0;
  width: 358px;
  min-height: 50px;
  border: none;
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  border-radius: 2px;
  box-sizing: border-box;
  justify-self: center;
  cursor: pointer;
  transition-duration: .5s;
  align-self: center;
}

.popup__button-save:hover {
  opacity: .8;
}

@media screen and (max-width: 679px) {
  .popup__button-save {
    width: 238px;
    min-height: 46px;
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}
