.popup__heading {
  margin: 33px 0 17px 36px;
  /* padding: 33px 0 40px 36px; */
  padding: 0;
  width: 357px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  justify-content: center;
  background-color: #FFF;
}

@media screen and (max-width: 679px) {
  .popup__heading {
    margin: 25px 0 42px 22px;
    width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
