.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #FFFFFF;
  align-self: center;
  justify-self: end;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 679px) {
  .profile__add-button {
    width: 282px;
    justify-self: center;
    margin-top: 6px;
  }
}