.popup__button-close {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, .0);
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  visibility: visible;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 679px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/close_icon_mini.svg);
  }
}
