.popup__item {
  margin: 0px auto 0px;
  padding: 0;
  border: none;
  width: 358px;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  line-height: 2.3;
  color: #000;
}

.popup__item:last-of-type {
  margin-top: 25px;
}

.popup__item:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 679px) {
  .popup__item {
    width: 238px;
  }
}
