.popup__item {
  margin: 0px auto 0px;
  padding: 0;
  border: none;
  width: 358px;
  border-bottom: 1px solid #ccc;
  /* background-color: #FFF; */
  outline: none;
  font-size: 14px;
  line-height: 3.15;
  color: #000;
  /* text-overflow: ellipsis; */
  /* opacity: 1; */
  /* transition-duration: .5s; */
  align-self: end;
  /* justify-content: center; */
}

.popup__item:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 679px) {
  .popup__item {
    width: 238px;
    padding: 5px 0;
  }
}
