.popup__item {
  margin: 0px auto 10px;
  padding: 0 0 0px;
  width: 358px;
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: #FFF;
  outline: none;
  font-size: 14px;
  line-height: 3.15;
  padding: 0;
  color: #000000;
  text-overflow: ellipsis;
  opacity: 1;
  transition-duration: .5s;
}

.popup__item:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 679px) {
  .popup__item {
    width: 238px;
  }
}
